AZURE_TENANT_ID=""
AZURE_CLIENT_ID=""
AZURE_CLIENT_SECRET=""
AZURE_SUBSCRIPTION_ID=""
AZURE_RESOURCE_GROUP=""
AZURE_CONTAINER_GROUPS="" # semikolon seperated list of Container Groups
MINECRAFT_URL="" # semikolon seperated list of Minecraft Server Urls
MINECRAFT_PORT="" # semikolon seperated list of Minecraft Server Ports
AZURE_CRON_TIMER="* * * * * *" # azure cron timer
CONTAINER_MIN_UPTIME="0" # 600.000 milliseconds = 10 minutes